{% extends "login/base.html" %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Prescription ID </th>
                <th> Patient Name </th>
                <th> Drug Name </th>
                <th> Prescribed Date </th>
                <th> Presribed By </th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.patient_id}}</td>
                <td>{{i.drug_name}}</td>
                <td>{{i.prescription_date}}</td>
                <td>{{i.prescribedBy}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}