{% extends 'login/base.html' %}

<!DOCTYPE html>

{% block content %} 
<html>
<head>
<meta charset="ISO-8859-1">
<title>Medicare Nurse's View History</title>

</head>
<body>
{% if userid and usertype and userspec %}
	{% if 'NU' in usertype %}
<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left" > 	
			  <h2>Follow Ups History 
			  <ul class="nav navbar-nav navbar-right">
   			  	<li class="dropdown"> <a  href=" {%  url 'nurses:frontdesk' %}"><span class="glyphicon glyphicon-log-in"></span> Back</a> </li>
   			  </ul>
              </h2>
			  
			  {% for list in patient_name%}
			     Patient Name:{{list.patient_id}}
			  {%endfor%}
			       
			  <table class="table table-condensed">
			  
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Details</th>
			       
			      </tr>
			    </thead>
			    <tbody>
			      {% if nurses_list %}
			      {% for list in nurses_list %}
			     
			      <tr>
			      	<td>{{list.created_date}}</td>
			        <td>{{list.details}}</td>
			      
			      </tr>
			      {%endfor%}
			       {% endif %}
			    </tbody>
			  </table>
			
 	</div>
	<div class="col-sm-2 sidenav">
     </div>
</div>

	{% else %}
		<h1>404 Page Not Found</h1>
	{% endif %}
{% else %}
	<h1>Login First</h1>
{% endif %}	
</body>
</html>
{% endblock %}
