{% extends 'login/base.html' %}

<!DOCTYPE html>

{% block content %} 
<html>
<head>
<meta charset="ISO-8859-1">
<title>Medicare Do Dashboard</title>

</head>
<body>
{% if userid and usertype and userspec %}
	{% if 'DO' in usertype %}
<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left" > 	
			  <h2>Current Appointment</h2>Date: {{ todays_date }}          
			  <table class="table table-condensed">
			    <thead>
			      <tr>
			         <th>Appointment time</th>
		             <th>Patient</th>
		             <th>Visit reason</th>
		             <th>Doctor's Name</th>
		             <th>Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      {% if todays_appointments %}
			      {% for list in todays_appointments %}
			      <tr>
			      	<td>{{list.appointment_time}}</td>
                	<td><a href="{% url 'doctors:displayhistory' list.id%}">{{list.patient}}</a></td>
	                <td>{{ list.visit_reason }}</td>
                    <td>{{ list.doctor }}</td>
                	<td><a href="{% url 'doctors:updatehistory' list.id %}">Update</a> | <a href="{% url 'doctors:addlab' %}">Lab</a> | <a href="{% url 'doctors:cancelapp' list.id %}">Cancel</a></td>
	                
			      </tr>
			      {%endfor%}
			       {% endif %}
			    </tbody>
			  </table>
			 <h2>Future Appointment</h2>        
			  <table class="table table-condensed">
			    <thead>
			      <tr>
			         <th>Appointment time</th>
		             <th>Patient</th>
		             <th>Visit reason</th>
		             <th>Doctor's Name</th>
		             <th>Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      {% if future_appointments %}
			      {% for list in future_appointments %}
			      <tr>
			      	<td>{{list.appointment_time}}</td>
                	<td><a href="{% url 'doctors:displayhistory' list.id%}">{{list.patient}}</a></td>
	                <td>{{ list.visit_reason }}</td>
                    <td>{{ list.doctor }}</td>
                	<td><a href="{% url 'doctors:updatehistory' list.id %}">Complete</a> | <a href="#">Lab</a> | <a href="{% url 'doctors:cancelapp' list.id %}">Cancel</a></td>
	                
			      </tr>
			      {%endfor%}
			       {% endif %}
			    </tbody>
			  </table>
 	</div>
	<div class="col-sm-2 sidenav">
     </div>
</div>

	{% else %}
		<h1>404 Page Not Found</h1>
	{% endif %}
{% else %}
	<h1>Login First</h1>
{% endif %}	
</body>
</html>
{% endblock %}
