{% extends 'login/base.html' %}

<!DOCTYPE html>
{% block content %}
<html>
<head>
  

<title>Medicare About us</title>
</head>

   
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Our Team</h1>
      <hr>
      <h3>Trupal Patel</h3>
      <p>Developer</p>
       <hr>
      <h3>Neha Deshpande</h3>
      <p>Developer</p>
      <hr>
      <h3>Mike</h3>
      <p>Developer</p>
    </div>
    <div class="col-sm-2 sidenav">
     
    </div>
  </div>
{% endblock %}
</body>
</html>
