{% extends 'login/base.html' %}

<!DOCTYPE html>
{% block content %}
<html>
<head>
  

<title>Medicare Home</title>
</head>

   
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome to Medicare System</h1>
      <p>On behalf of our employee team, medical staff and the many volunteers of Medicare Health System, I want to welcome you to our website. I understand how challenging making the best health care choices for you and your family can be and we thank you for choosing Medicare. </p>
      <hr>
      <h3>Join US</h3>
      <p>In Emergency Call 911</p>
    </div>
    <div class="col-sm-2 sidenav">
     
    </div>
  </div>
{% endblock %}
</body>
</html>
