{% extends 'login/base.html' %}

<!DOCTYPE html>

{% block content %} 
<html>
<head>
<meta charset="ISO-8859-1">
<title>Medicare Delete Employee</title>

</head>
<body>
{% if userid and usertype and userspec %}
	{% if 'RE' in usertype %}
<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left" > 
		<h2 align="center">Delete Employee</h2>
		<hr>
        <form class="form-horizontal"  action="{% url 'employees:deleteemployee' %}" method="get" id="carform">
       {% csrf_token %}
       
    
     	<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4"></div>
				<div class="form-group input-group col-xs-4 col-sm-4 col-md-4">
            		<span class="input-group-addon " for="employee">Select</span>
            		<b class="input-group-addon">
            		<select id="employee" form="carform" name="employee">
	      				{% for field in employees %}
	      				<option value="{{field}}">{{field}}</option>
	        			 {% endfor %}
	      			</select>
            		</b>
            	</div>
				<div class="col-xs-4 col-sm-4 col-md-4"></div>
			</div>
    	<div class="form-group">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4"></div>
				<div class="form-group input-group col-xs-4 col-sm-4 col-md-4">
					Sure you Want  to Delete?
            		<button type="submit" class="btn btn-default">Delete</button>	
            	</div>
				<div class="col-xs-4 col-sm-4 col-md-4"></div>
			</div>
    	</div>
   		<div class="form-group">        
      		<div class="col-sm-offset-2 col-sm-10">
      		
        		
      		</div>
    	</div>
  	</form>
    </div>
 
	<div class="col-sm-2 sidenav">
     </div>
</div>

	{% else %}
		<h1>404 Page Not Found</h1>
	{% endif %}
{% else %}
	<h1>Login First</h1>
{% endif %}	
</body>
</html>
{% endblock %}
